<table mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="name" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa </th>
    <td mat-cell *matCellDef="let element"> {{element.name.val }} </td>

  </ng-container>

  <ng-container matColumnDef="purchaseLimit">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Limit kupna</th>
    <td mat-cell *matCellDef="let element" [style.background-color]="element.purchaseLimit?.color"> {{element.purchaseLimit.val| number}} </td>
  </ng-container>

  <ng-container matColumnDef="saleLimit">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Limit sprzedaży </th>
    <td mat-cell *matCellDef="let element" [style.background-color]="element.saleLimit?.color"> {{element.saleLimit.val | number}} </td>
  </ng-container>

  <ng-container matColumnDef="rate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Kurs </th>
    <td mat-cell *matCellDef="let element" [style.background-color]="element.rate?.color"> {{element.rate.val| number}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
</table>
